<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="display-4">{{ post.title }}</h1>
                <p class="lead">
                    {{ post.author }}
                    <br>{{ post.createdAt|date("m/d/Y") }}
                </p>
            </div>
            <div class="col">
                <img src="{{ asset('uploads/images/') ~ post.image }}" width="100%" height="200" class="d-inline-block align-top" alt="">
            </div>
        </div>
        <hr class="my-4">
        <p>
            {{ post.content }}
        </p>
    </div>
</div>
