{% extends 'base.html.twig' %}
{% block title %}
    {{ slug }}
{% endblock %}
{% block body %}
    <h1>Hello
        {{ controller_name }}! ✅</h1>
    <h1>Hello
        {{ slug }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at
            <code>
                <a href="{{ '/home/steven/Documents/Development/blog-symfony/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a>
            </code>
        </li>
        <li>Your template at
            <code>
                <a href="{{ '/home/steven/Documents/Development/blog-symfony/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a>
            </code>
        </li>
    </ul>
{% endblock %}
